<script>
import drawTools from '../libs/drawTools';

export default {
  name: 'CanvasLine',
  props: {
    line: {
      type: Object,
      default: () => ({
        tool: 'pen',
        points: [0],
      }),
    },
  },
  inject: ['provider'],
  render() {
    if (!this.provider.drawContext) return;
    const ctx = this.provider.drawContext;
    drawTools[this.line.tool].draw(ctx, this.line.points);
  },
};
</script>

<style scoped>

</style>
